{% extends 'base.html' %} {% block content %} {% for message in
get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %}{% if name %}
<h1>User Added!!!</h1>
<br /><br />
<h2>User List:</h2>
<br />
<table class="table table-light table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  {% for user in our_users %}
  <tbody>
    <tr>
      <th scope="row">{{user.id}}</th>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% else %}
<br />
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
  <form method="POST">
    {{ form.hidden_tag() }} {{ form.name.label(class="form-label") }} {{
    form.name(class="form-control") }}
    <br />
    {{ form.email.label(class="form-label") }} {{
    form.email(class="form-control") }}<br />
    {{ form.submit(class="btn btn-secondary") }}
  </form>
</div>

<br /><br />
<h2>User List:</h2>
<br />
<table class="table table-light table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  {% for user in our_users %}
  <tbody>
    <tr>
      <th scope="row">{{user.id}}</th>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endif %} {% endblock %}
